@using System.Web.Optimization;
@using AccountsWebAuthentication.Helper;
<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)

    @Html.Partial("_PartialCSS")
</head>
<body>
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <a class="navbar-brand" href="~/Home">
            <i class="fa fa-home" aria-hidden="true"></i>
            Home
        </a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-file-o" aria-hidden="true"></i>
                        Exam
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="nav-link" href="~/Exam">
                                <i class="fa fa-list" aria-hidden="true"></i>
                                List
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="~/Exam/Create">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Create
                            </a>
                        </li>
                    </ul>
                </li>    
                 @*EXAM SET*@
                @*<li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-files-o" aria-hidden="true"></i>
                        Exam Set
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="nav-link" href="~/ExamSet">
                                <i class="fa fa-list" aria-hidden="true"></i>
                                List
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="~/ExamSet/Create">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Create
                            </a>
                        </li>
                    </ul>
                </li>*@

                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Position
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="nav-link" href="~/Position">
                                <i class="fa fa-list" aria-hidden="true"></i>
                                List
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="~/Position/Create">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Create
                            </a>
                        </li>
                    </ul>
                </li>

                @*<li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Take Exam
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="nav-link" href="~/TakenExam">
                                <i class="fa fa-list" aria-hidden="true"></i>
                                List of Position
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="~/TakenExam/Create">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Create
                            </a>
                        </li>
                    </ul>
                </li>*@

                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                        Examinee
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="nav-link" href="~/Examinee">
                                <i class="fa fa-list" aria-hidden="true"></i>
                                List
                            </a>
                            <a class="nav-link" href="~/Examinee/Create">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Create
                            </a>
                        </li>                      
                    </ul>
                </li>
                <li>
                    <a href="~/Home/About" class="dropdown-toggle">
                        <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>
                        About
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">@WindowsUser.Username</a></li>
            </ul>
        </div>
    </nav>
    <div id="MainContainer" class="body-content" ng-app="App">
        @Html.Partial("_PartialScript")
        @Scripts.Render("~/bundles/AngularJS")
        @RenderBody()
    </div>
</body>
</html>
