@*@using AndersonExamModel;
@model Exam*@

<input type="hidden" name="ExamId" value="@Model.ExamId"/>


<div class="form-group">

    <label for="TimeLimit">Time Limit (Minutes)</label>
    <input type="number" class="form-control" id="TimeLimit" name="TimeLimit" placeholder="Time Limit" min="1" value="@Model.TimeLimit" required>
</div>
<div class="form-group">
    <label for="TimeLimit">Name</label>
    <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" value="@Model.Name" required>
</div>
<div class="form-group">
    <label for="Description">Description</label>
    <textarea type="text" class="form-control" id="Description" name="Description" placeholder="Description" rows="3" required>@Model.Description</textarea>
</div>
<div class="form-group">
    <label for="Instructions">Instructions</label>
    <textarea type="text" class="form-control" id="Instructions" name="Instructions" placeholder="Instructions" rows="3" required>@Model.Instructions</textarea>
</div>
<div class="form-group">
    <label for="Copyright">Copyright</label>
    <textarea type="text" class="form-control" id="Copyright" name="Copyright" placeholder="Copyright" rows="3" required>@Model.Copyright</textarea>
</div>
<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" />
</div>